{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/question2" method="post">

      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        How many how-many-plates did you eat?
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-many-plates" name="how-many-plates" type="radio" value="3 or more">
        <label class="govuk-label govuk-radios__label" for="how-many-plates">
          3 or more
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-many-plates-2" name="how-many-plates" type="radio" value="1 or 2">
        <label class="govuk-label govuk-radios__label" for="how-many-plates-2">
          1 or 2
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="how-many-plates-3" name="how-many-plates" type="radio" value="I did not eat">
        <label class="govuk-label govuk-radios__label" for="how-many-plates-3">
          I did not eat
        </label>
      </div>
    </div>
  </fieldset>
</div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
